<template>
  <div class="flex flex-col gap-y-5">
    <div class="fm-table overflow-x-auto p-2 lg:p-5 shadow border rounded-lg rounded-tl-none">
      <div class="header">
        <div class="cell w-40">
          <button class="fm-button bg-gray-200 hover:bg-gray-300" click.delegate="openAddWorkerModal()">
            <i class="fas fa-user-plus w-5"></i>
            New
          </button>
        </div>
        <div class="cell w-16">
          ID
        </div>
        <div class="cell w-36">
          <div class="whitespace-nowrap">
            First Name
            <i class="fas fa-long-arrow-alt-down ml-1"></i>
          </div>
        </div>
        <div class="cell w-36">
          Last Name
        </div>
        <div class="cell w-36">
          Israeli ID
        </div>
        <div class="cell w-72 flex-grow">
          Job Description
        </div>
      </div>
      <div class="body">
        <div if.bind="!workers.length" class="row">
          <div class="cell">
            <i class="far fa-flag mr-2"></i>
            No Records.
          </div>
        </div>
        <div class="row" repeat.for="worker of workers">
          <div class="cell w-40">
            <button class="fm-button px-10" click.delegate="openWorkerDetailsModal(worker)">
              <i class="fas fa-pencil-alt"></i>
            </button>
          </div>
          <div class="cell w-16">
            ${worker.id}
          </div>
          <div class="cell w-36">
            ${worker.firstName}
          </div>
          <div class="cell w-36">
            ${worker.lastName}
          </div>
          <div class="cell w-36">
            ${worker.israeliIdentityNumber}
          </div>
          <div class="cell w-72 flex-grow">
            ${worker.jobDescription}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
