<template>
  <div class="flex flex-col gap-y-5">
    <div class="fm-table overflow-x-auto">
      <div class="header">
        <div class="cell w-40"></div>
        <div class="cell w-12">
          ID
        </div>
        <div class="cell w-72">
          Title
        </div>
        <div class="cell w-72 flex-grow">
          Description
        </div>
        <div class="cell w-32 mr-auto">
          Status
        </div>
        <div class="cell w-40 mr-auto">
          <div class="whitespace-nowrap">
            Last Update
            <i class="fas fa-long-arrow-alt-down ml-1"></i>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="row" repeat.for="department of departments">
          <div class="cell w-40 flex flex-row flex-nowrap gap-x-2">
            <button class="fm-button" click.delegate="openDepartmentDetailsModal(department)">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button class="fm-button" click.delegate="openSetDepartmentWorkersModal(department)">
              <i class="fas fa-user-friends"></i>
            </button>
          </div>
          <div class="cell w-12">
            ${department.id}
          </div>
          <div class="cell w-72">
            ${department.title}
          </div>
          <div class="cell w-72 flex-grow">
            <!-- <span class="max-w-fit"> -->
            ${department.description}
            <!-- </span> -->
          </div>
          <div class="cell w-32 whitespace-nowrap">
            <i if.bind="department.isActive" class="fas fa-toggle-on mr-1"></i>
            <i else class="fas fa-toggle-off mr-1"></i>
            ${department.isActive ? "Active" : "Inactive"}
          </div>
          <div class="cell w-40">
            ${department.updatedDate | toDateFormat}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
