<template>
  <div class="flex flex-col gap-y-5">
    <div class="fm-table overflow-x-auto p-2 lg:p-5 shadow border rounded-lg rounded-tl-none">
      <div class="header">
        <div class="cell w-40">
          <button class="fm-button bg-gray-200 hover:bg-gray-300" click.delegate="openAddDepartmentModal()">
            <i class="fas fa-building w-5"></i>
            New
          </button>
        </div>
        <div class="cell w-16">
          ID
        </div>
        <div class="cell w-72">
          Title
        </div>
        <div class="cell w-72 flex-grow">
          Description
        </div>
        <div class="cell w-32 mr-auto">
          Status
        </div>
        <div class="cell w-40 mr-auto">
          <div class="whitespace-nowrap">
            Last Update
            <i class="fas fa-long-arrow-alt-down ml-1"></i>
          </div>
        </div>
      </div>
      <div class="body">
        <div if.bind="!departments.length" class="row">
          <div class="cell">
            <i class="far fa-flag mr-2"></i>
            No Records.
          </div>
        </div>
        <div class="row" repeat.for="department of departments">
          <div class="cell w-40 flex flex-row flex-nowrap gap-x-3">
            <button class="fm-button px-3" click.delegate="openDepartmentDetailsModal(department)">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button class="fm-button px-3" click.delegate="openDepartmentWorkersModal(department)">
              <i class="fas fa-user-friends"></i>
            </button>
          </div>
          <div class="cell w-16">
            ${department.id}
          </div>
          <div class="cell w-72">
            ${department.title}
          </div>
          <div class="cell w-72 flex-grow">
            ${department.description}
          </div>
          <div class="cell w-32 whitespace-nowrap">
            <i if.bind="department.isActive" class="fas fa-toggle-on mr-1"></i>
            <i else class="fas fa-toggle-off mr-1"></i>
            ${department.isActive ? "Active" : "Inactive"}
          </div>
          <div class="cell w-40">
            ${department.updatedDate | toDateFormat}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
