<template>
  <form submit.delegate="updateDepartment()">
    <ux-dialog class="fm-modal">
      <ux-dialog-header>
        Department Details
      </ux-dialog-header>
      <ux-dialog-body>
        <div class="flex flex-col gap-y-3">
          <label class="flex flex-row flex-nowrap gap-x-5 lg:gap-x-10 px-3 py-0.5">
            <div class="w-24 lg:w-32 flex-shrink-0 flex flex-row flex-nowrap items-center text-gray-800 tracking-tight">
              <i class="w-5 mr-3 text-gray-500 fas fa-hashtag"></i>
              ID
            </div>
            <div class="flex-grow">
              ${selectedDepartment.id}
            </div>
          </label>
          <label class="flex flex-row flex-nowrap gap-x-5 lg:gap-x-10 px-3 py-0.5">
            <div class="w-24 lg:w-32 flex-shrink-0 flex flex-row flex-nowrap items-center text-gray-800 tracking-tight">
              <i class="w-5 mr-3 text-gray-500 fas fa-signature"></i>
              Title
            </div>
            <div class="flex-grow font-medium">
              <input type="text" value.bind="selectedDepartment.title" class="fm-input">
            </div>
          </label>
          <label class="flex flex-row flex-nowrap gap-x-5 lg:gap-x-10 px-3 py-0.5">
            <div class="w-24 lg:w-32 flex-shrink-0 flex flex-row flex-nowrap items-center text-gray-800 tracking-tight">
              <i class="w-5 mr-3 text-gray-500 far fa-comment"></i>
              Description
            </div>
            <div class="flex-grow">
              <textarea value.bind="selectedDepartment.description" class="fm-input" cols="50" rows="2"></textarea>
            </div>
          </label>
          <label class="flex flex-row flex-nowrap gap-x-5 lg:gap-x-10 px-3 py-0.5">
            <div class="w-24 lg:w-32 flex-shrink-0 flex flex-row flex-nowrap items-center text-gray-800 tracking-tight">
              <i class="w-5 mr-3 text-gray-500 fas fa-sliders-h"></i>
              Status
            </div>
            <div class="flex-grow font-medium flex flex-row items-center gap-x-2">
              <input type="checkbox" checked.bind="selectedDepartment.isActive">
              <span>${selectedDepartment.isActive ? "Yes" : "No"}</span>
            </div>
          </label>
          <label class="flex flex-row flex-nowrap gap-x-5 lg:gap-x-10 px-3 py-0.5">
            <div class="w-24 lg:w-32 flex-shrink-0 flex flex-row flex-nowrap items-center text-gray-800 tracking-tight">
              <i class="w-5 mr-3 text-gray-500 fas fa-sliders-h"></i>
              Workers
            </div>
            <div class="flex-grow font-medium flex flex-row items-center gap-x-2">
              <button class="fm-button" click.delegate="openSetDepartmentWorkersModal()">
                <i class="fas fa-user-friends"></i>
                Set Workers
              </button>
            </div>
          </label>
          <label class="flex flex-row flex-nowrap gap-x-5 lg:gap-x-10 px-3 py-0.5">
            <div class="w-24 lg:w-32 flex-shrink-0 flex flex-row flex-nowrap items-center text-gray-800 tracking-tight">
              <i class="w-5 mr-3 text-gray-500 far fa-calendar"></i>
              Created
            </div>
            <div class="flex-grow">
              ${selectedDepartment.createdDate | toDateFormat:'dd/MM/yyyy HH:mm:ss'}
            </div>
          </label>
          <label class="flex flex-row flex-nowrap gap-x-5 lg:gap-x-10 px-3 py-0.5">
            <div class="w-24 lg:w-32 flex-shrink-0 flex flex-row flex-nowrap items-center text-gray-800 tracking-tight">
              <i class="w-5 mr-3 text-gray-500 fas fa-calendar"></i>
              Last Updated
            </div>
            <div class="flex-grow">
              ${selectedDepartment.updatedDate | toDateFormat:'dd/MM/yyyy HH:mm:ss'}
            </div>
          </label>
        </div>
      </ux-dialog-body>
      <ux-dialog-footer class="flex flex-row justify-end items-center gap-x-3">
        <button type="button" class="fm-button !bg-orange-100" click.delegate="dialogController.cancel()">
          <i class="fas fa-times"></i>
          Close
        </button>
        <button type="submit" class="fm-button font-semibold !bg-green-100">
          <i class="fas fa-check"></i>
          Save Changes
        </button>
      </ux-dialog-footer>
    </ux-dialog>
  </form>
</template>
