<template>
  <require from="components/movies-list/movies-list"></require>
  <div class="flex flex-col gap-y-10">
    <form class="flex flex-row justify-center items-center gap-x-3" submit.delegate="keyword = typedKeyword">
      <input type="text" value.bind="typedKeyword" class="pd-input" placeholder="Search any title....">
      <button type="submit" disabled.bind="!typedKeyword" class="pd-button">
        <i class="fa fa-search"></i>
        <span class="hidden lg:inline">Find Movies</span>
      </button>
    </form>
    <div if.bind="isInSearchMode" class="flex flex-col gap-y-5">
      <div class="flex flex-row justify-center items-center gap-x-5">
        <h2 class="text-lg font-semibold text-center">Search Results For '${keyword}'</h2>
        <button type="button" class="pd-button" click.trigger="keyword = null" disabled.bind="!isInSearchMode">
          <i class="fas fa-undo-alt"></i>
          <span>Back to most popular</span>
        </button>
      </div>
      <movies-list movies.bind="moviesByKeyword"></movies-list>
    </div>
    <div else class="flex flex-col gap-y-4">
      <h2 class="text-lg font-semibold text-center">100 Most Popular Movies Right Now, By Release Year, Descending</h2>
      <movies-list movies.bind="popularMovies"></movies-list>
    </div>
  </div>
</template>
